.App {
  font-family: sans-serif;
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 50px;
  overflow: hidden;
}

.game-area {
  width: 600px;
  height: 600px;
  position: relative;
  border: 1px solid black;
}

.snake-cell {
  position: absolute;
  width: 2%;
  height: 2%;
  background-color: green;
  border: 1px solid white;
}
